.container {
  padding: 0 0rem;
}

.main {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.description {
  text-align: center;
  text-transform: capitalize;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  line-height: 22px;
}

.coin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.coin_label {
  width: 100px;
}

.coin_description {
  width: 80%;
}

.symbol {
  text-transform: uppercase;
}
